
.one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f5dacb;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .one {
      flex-direction: column;
      text-align: center;
    }
  }
  